name: Docker Image CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
          -u "${{ secrets.DOCKERHUB_USERNAME }}" \
          --password-stdin

      - name: Build image
        run: docker build -t cpinto1234/backend-express-ci-cd:latest .

      - name: Push image
        run: docker push cpinto1234/backend-express-ci-cd:latest
